In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [1]:
data = range(100)
data[5 - 7]

98

In [2]:
names = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style","drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight", "engine-type", "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

df = pd.read_csv("imports-85.csv", names=names)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Melihat banyak kolom dan baris

In [3]:
df.shape

(205, 26)

### Melihat tipe data

In [4]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

### Data Unique

In [6]:
df['fuel-type'].unique()

array(['gas', 'diesel'], dtype=object)

### Ubah missing value ke nilai default python

In [7]:
df.replace("?", np.nan, inplace = True)
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

7 kolom yang terdapat missing value

In [8]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Mengubah tipe data Numerik menjadi Float

In [9]:
df['normalized-losses'] = df['normalized-losses'].astype(float)
df['bore'] = df['bore'].astype(float)
df['stroke'] = df['stroke'].astype(float)
df['horsepower'] = df['horsepower'].astype(float)
df['peak-rpm'] = df['peak-rpm'].astype(float)
df['price'] = df['price'].astype(float)

### Impute kolom numerik

In [10]:
df['normalized-losses'].fillna(df['normalized-losses'].mean(), inplace = True)
df['bore'].fillna(df['bore'].mean(), inplace = True)
df['stroke'].fillna(df['stroke'].mean(), inplace = True)
df['horsepower'].fillna(df['horsepower'].mean(), inplace = True)
df['peak-rpm'].fillna(df['peak-rpm'].mean(), inplace = True)

### Impute kolom kategorik

In [11]:
df['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [12]:
df['num-of-doors'].fillna('four', inplace = True)

In [13]:
df['num-of-doors']

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: num-of-doors, Length: 205, dtype: object

### Drop baris pada kolom target

In [14]:
df.dropna(inplace = True)
df.shape

(201, 26)

### Melihat missing value kembali

In [15]:
df.isna().any()

symboling            False
normalized-losses    False
make                 False
fuel-type            False
aspiration           False
num-of-doors         False
body-style           False
drive-wheels         False
engine-location      False
wheel-base           False
length               False
width                False
height               False
curb-weight          False
engine-type          False
num-of-cylinders     False
engine-size          False
fuel-system          False
bore                 False
stroke               False
compression-ratio    False
horsepower           False
peak-rpm             False
city-mpg             False
highway-mpg          False
price                False
dtype: bool

### Nilai mean highway-mpg

In [16]:
df['highway-mpg'].mean()

30.686567164179106

### Melihat tipe data

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          201 non-null    int64
 1   normalized-losses  201 non-null    float64
 2   make               201 non-null    object
 3   fuel-type          201 non-null    object
 4   aspiration         201 non-null    object
 5   num-of-doors       201 non-null    object
 6   body-style         201 non-null    object
 7   drive-wheels       201 non-null    object
 8   engine-location    201 non-null    object
 9   wheel-base         201 non-null    float64
 10  length             201 non-null    float64
 11  width              201 non-null    float64
 12  height             201 non-null    float64
 13  curb-weight        201 non-null    int64
 14  engine-type        201 non-null    object
 15  num-of-cylinders   201 non-null    object
 16  engine-size        201 non-null    int64
 17  fuel-system        201 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  201 non-null    float64
 21  horsepower         201 non-null    float64
 22  peak-rpm           201 non-null    float64
 23  city-mpg           201 non-null    int64
 24  highway-mpg        201 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 42.4+ KB

### Terapkan regresi linear

In [18]:
X = df[['highway-mpg']]
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [19]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [20]:
print('Intercept\t= ', model.intercept_, '\nCoef\t\t= ', model.coef_)

Intercept	=  38423.3058581574
Coef		=  [-821.73337832]

y = intercept + (coef * highway-mpg)

### MSE dan R2

In [21]:
hasil = model.predict(X_test)
from sklearn.metrics import mean_squared_error, r2_score

print('MSE\t= ', mean_squared_error(y_test, hasil), '\nR2\t= ', r2_score(y_test, hasil))

MSE	=  39539522.68423496
R2	=  0.47816589174399016

In [22]:
prediksi1 = model.intercept_ + (model.coef_ * 25)
prediksi2 = model.intercept_ + (model.coef_ * 28)
print('Prediksi 1\t= ', prediksi1, '\nPrediksi 2\t= ', prediksi2)

Prediksi 1	=  [17879.97140011]
Prediksi 2	=  [15414.77126514]

In [23]:
print('Prediksi 1\t= ', model.predict([[25]]), '\nPrediksi 2\t= ', model.predict([[28]]))

Prediksi 1	=  [17879.97140011]
Prediksi 2	=  [15414.77126514]

D:\Python\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
D:\Python\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

### Normalisasi

In [24]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [25]:
df['symboling'].value_counts()

 0    65
 1    52
 2    32
 3    27
-1    22
-2     3
Name: symboling, dtype: int64

### Normalisasi dengan MinMaxScaler

In [26]:
from sklearn.preprocessing import MinMaxScaler
numeric = ["normalized-losses", "wheel-base", "length", "width", 'height', 'curb-weight', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'engine-size', 'city-mpg', 'highway-mpg']

scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX = scaler.fit_transform(df[numeric])

### Normalisasi dengan LabelEncoder

In [27]:
from sklearn.preprocessing import LabelEncoder

encoding = LabelEncoder()
df["symboling"] = encoding.fit_transform(df["symboling"])
df["make"] = encoding.fit_transform(df["make"])
df["num-of-doors"] = encoding.fit_transform(df["num-of-doors"])
df["fuel-type"] = encoding.fit_transform(df["fuel-type"])
df["aspiration"] = encoding.fit_transform(df["aspiration"])
df["body-style"] = encoding.fit_transform(df["body-style"])
df["drive-wheels"] = encoding.fit_transform(df["drive-wheels"])
df["engine-location"] = encoding.fit_transform(df["engine-location"])
df["engine-type"] = encoding.fit_transform(df["engine-type"])
df["fuel-system"] = encoding.fit_transform(df["fuel-system"])
df["num-of-cylinders"] = encoding.fit_transform(df["num-of-cylinders"])

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,5,122.0,0,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,5,122.0,0,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,3,122.0,0,1,0,1,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,4,164.0,1,1,0,0,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,164.0,1,1,0,0,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [28]:
X = df.drop(columns=["price"])
y = df["price"]

In [29]:
X_train = rescaledX[:-50, :]
y_train = y[:-50]

X_test = rescaledX[-50:, :]
y_test = y[-50:]

In [4]:
data = (1, 3 , 5, 7, 9, 11)
data * 3

(1, 3, 5, 7, 9, 11, 1, 3, 5, 7, 9, 11, 1, 3, 5, 7, 9, 11)

In [30]:
from sklearn.neural_network import MLPRegressor
model = MLPRegressor(activation='logistic',solver='lbfgs',random_state=0, hidden_layer_sizes=(2, 10))

model.fit(X_train, y_train)

MLPRegressor(activation='logistic', hidden_layer_sizes=(2, 10), random_state=0,
             solver='lbfgs')

### Data Testing

In [31]:
hasil = model.predict(X_test)
from sklearn.metrics import mean_squared_error, r2_score

print('MSE\t= ', mean_squared_error(y_test, hasil), '\nR2\t= ', r2_score(y_test, hasil))

MSE	=  20788181.99561774
R2	=  -0.12642053567026323

### Data Training

In [32]:
hasil = model.predict(X_train)
from sklearn.metrics import mean_squared_error, r2_score

print('MSE\t= ', mean_squared_error(y_train, hasil), '\nR2\t= ', r2_score(y_train, hasil))

MSE	=  76958800.05064015
R2	=  -1.1765921570372484e-11